# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\PH31906_13042024_Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
